main {
  /*rgb(5,92,55)*/
  /* --primary-default: 5, 92, 55; */
  /*rgb(5,92,55)*/
  --primary-default: 229, 229, 229;
  /*rgb(246,246,247)*/
  --bg-default: 246, 246, 247;
  --color-prettylights-syntax-comment: #6e7781;
  --color-prettylights-syntax-constant: #0550ae;
  --color-prettylights-syntax-entity: #8250df;
  --color-prettylights-syntax-storage-modifier-import: #24292f;
  --color-prettylights-syntax-entity-tag: #116329;
  --color-prettylights-syntax-keyword: #cf222e;
  --color-prettylights-syntax-string: #0a3069;
  --color-prettylights-syntax-variable: #953800;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e;
  --color-prettylights-syntax-carriage-return-text: #f6f8fa;
  --color-prettylights-syntax-carriage-return-bg: #cf222e;
  --color-prettylights-syntax-string-regexp: #116329;
  --color-prettylights-syntax-markup-list: #3b2300;
  --color-prettylights-syntax-markup-heading: #0550ae;
  --color-prettylights-syntax-markup-italic: #24292f;
  --color-prettylights-syntax-markup-bold: #24292f;
  --color-prettylights-syntax-markup-deleted-text: #82071e;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  --color-prettylights-syntax-markup-inserted-text: #116329;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  --color-prettylights-syntax-markup-changed-text: #953800;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
  --color-prettylights-syntax-markup-ignored-text: #eaeef2;
  --color-prettylights-syntax-markup-ignored-bg: #0550ae;
  --color-prettylights-syntax-meta-diff-range: #8250df;
  --color-prettylights-syntax-brackethighlighter-angle: #57606a;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069;
  --color-btn-text: #24292f;
  --color-btn-bg: rgba(var(--bg-default), 1);
  --color-btn-border: rgba(var(--bg-default), 1);
  --color-btn-shadow: 0 1px 0 rgba(var(--bg-default), 1);
  --color-btn-inset-shadow: inset 0 1px 0 rgba(var(--bg-default), 1);
  --color-btn-hover-bg: rgba(var(--bg-default), 0.5);
  --color-btn-hover-border: rgba(var(--bg-default), 0.5);
  --color-btn-active-bg: rgba(var(--primary-default), 0.2);
  --color-btn-active-border: rgba(var(--primary-default), 1);
  --color-btn-selected-bg: rgba(var(--primary-default), 0.15);
  --color-btn-primary-text: #fff;
  --color-btn-primary-bg: rgba(var(--primary-default), 1);
  --color-btn-primary-border: rgba(var(--primary-default), 1);
  --color-btn-primary-shadow: 0 1px 0 #1f23281a;
  --color-btn-primary-inset-shadow: inset 0 1px 0 #ffffff08;
  --color-btn-primary-hover-bg: rgba(var(--primary-default), 0.9);
  --color-btn-primary-hover-border: rgba(var(--primary-default), 0.75);
  --color-btn-primary-selected-bg: rgba(var(--primary-default), 1);
  --color-btn-primary-selected-shadow: inset 0 1px 0 #002d1133;
  --color-btn-primary-disabled-text: #fffc;
  --color-btn-primary-disabled-bg: rgba(var(--primary-default), 0.5);
  --color-btn-primary-disabled-border: rgba(var(--primary-default), 0.5);
  --color-action-list-item-default-hover-bg: #d0d7de52;
  --color-segmented-control-bg: #eaeef2;
  --color-segmented-control-button-bg: #fff;
  --color-segmented-control-button-selected-border: rgba(
    var(--bg-default),
    0.85
  );
  --color-fg-default: #3c3c43;
  --color-fg-muted: #3c3c43bf;
  --color-fg-subtle: #3c3c4354;
  --color-canvas-default: #fff;
  --color-canvas-overlay: #fff;
  /* --color-canvas-inset: rgba(var(--bg-default), 0.85); */
  --color-canvas-inset: rgba(var(--bg-default), 0.45);
  --color-canvas-subtle: rgba(var(--bg-default), 1);
  --color-border-default: rgba(var(--bg-default), 0.85);
  --color-border-muted: #afb8c133;
  --color-neutral-muted: #afb8c133;
  /* --color-accent-fg: rgba(var(--primary-default), 0.85); */
  --color-accent-fg: rgb(160, 160, 160);
  --color-accent-emphasis: rgba(var(--primary-default), 0.95);
  --color-accent-muted: rgba(var(--primary-default), 0.4);
  --color-accent-subtle: rgba(var(--primary-default), 0.1);
  --color-success-fg: #1a7f37;
  --color-attention-fg: #9a6700;
  --color-attention-muted: #d4a72c66;
  --color-attention-subtle: #fff8c5;
  --color-danger-fg: #d1242f;
  --color-danger-muted: #ff818266;
  --color-danger-subtle: #ffebe9;
  --color-primer-shadow-inset: 0 1px 0 rgba(var(--bg-default), 1),
    inset 0 1px 0 rgba(var(--bg-default), 1);
  --color-scale-gray-1: #eaeef2;
  --color-scale-blue-1: #10b98126;

  /*! Extensions from @primer/css/alerts/flash.scss */
  --color-social-reaction-bg-hover: var(--color-scale-gray-1);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-1);
}
main .pagination-loader-container {
  background-image: url(https://github.com/images/modules/pulls/progressive-disclosure-line.svg);
}
main .gsc-loading-image {
  background-image: url(https://github.githubassets.com/images/mona-loading-default.gif);
}
.gsc-comment:not(.gsc-reply-box) .gsc-replies {
  border-radius: unset;
}
