@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-100 font-['Inter']
      text-[#111];
  }

  a {
    @apply no-underline text-[#0070f3];
  }
}

@layer components {
  .post-content {
    @apply leading-6;

    h1,
    h2,
    h3,
    h4 {
      @apply my-6 mx-0 font-medium w-max;

      a {
        @apply text-[#111] hover:no-underline;
        @apply before:content-['#'] before:absolute before:-ml-5 before:text-gray-300/0 hover:before:text-gray-300 pl-5 -ml-5;
      }
    }

    h1 {
      @apply text-2xl border-b border-b-black/30 pr-6 pb-2;
    }
    h2 {
      @apply text-2xl;
    }
    h3 {
      @apply text-xl;
    }
    h4 {
      @apply text-lg;
    }

    p {
      @apply my-4;
    }

    img {
      max-width: 100%;
    }

    a {
      @apply hover:underline;
    }

    table {
      @apply border-collapse;

      th,
      td {
        @apply p-1 text-left;
      }

      th {
        @apply bg-black/[.04] font-medium;

        strong {
          @apply font-black;
        }
      }

      tr {
        @apply even:bg-black/[.02]
          hover:bg-black/[.04];
      }
    }

    hr {
      @apply my-8;
    }

    blockquote {
      @apply my-2 px-4;
      @apply border-l border-l-zinc-900;
      @apply text-black/80 italic;
    }

    ol {
      @apply list-decimal list-inside;
    }

    ul {
      @apply list-disc list-inside;

      &.contains-task-list {
        @apply list-none;
      }

      li {
        ul {
          @apply px-6;
        }

        code {
          @apply leading-8;
        }
      }
    }

    code {
      @apply bg-black/[.02] p-1;
    }

    pre {
      @apply overflow-scroll;

      & > code {
        @apply grid;
        @apply py-3 px-0;

        span {
          &.line {
            @apply pl-3;
          }

          &.highlighted-line {
            @apply bg-gray-500/10 border-l border-l-gray-500;
          }

          &.highlighted-word {
            @apply bg-gray-500/10;
          }
        }
      }
    }

    code[data-line-numbers=''] {
      counter-reset: line;

      & > .line::before {
        counter-increment: line;
        content: counter(line);

        @apply inline-block w-4 mr-5;
        @apply text-right text-gray-500;
      }
    }

    div[data-rehype-pretty-code-title=''] {
      @apply bg-black/[.02] p-3;
      @apply italic text-gray-500;
      @apply border-b border-b-gray-300;
    }

    nav {
      &.toc {
        @apply p-4;
        @apply border border-black/10;

        ol {
          @apply list-none;

          &.toc-level-2 {
            @apply px-4;
          }
          &.toc-level-3 {
            @apply px-6;
          }
          &.toc-level-4 {
            @apply px-8;
          }

          a {
            @apply text-zinc-900;

            &.toc-link-h1 {
              @apply font-medium;
            }
            &.toc-link-h2 {
              @apply font-normal;
            }
            &.toc-link-h3 {
              @apply font-light;
            }
            &.toc-link-h4 {
              @apply font-extralight;
            }
          }
        }
      }
    }

    div.math-display {
      @apply w-fit p-6;

      span.katex-display {
        @apply m-0;
      }
    }
  }
}
