pre[data-theme='dark'] {
  color-scheme: dark;
}

html.light {
  pre[data-theme='dark'] {
    display: none;
  }

  div[data-rehype-pretty-code-title=''][data-theme='dark'] {
    display: none;
  }
}

html.dark {
  pre[data-theme='light'] {
    display: none;
  }

  div[data-rehype-pretty-code-title=''][data-theme='light'] {
    display: none;
  }
}
