@tailwind utilities;

@layer utilities {
  .content-container {
    @apply w-full px-4 md:max-w-4xl lg:px-0;
  }
  .content-vertical-spaces {
    @apply pb-28 pt-24 md:pt-36;
  }

  .limits {
    @apply border border-red-600;
    @apply bg-blue-500;
  }

  .shine {
    @apply absolute left-0 top-0 h-full w-1/3 -translate-x-full -skew-x-20;
    @apply bg-white/0 bg-gradient-to-r from-white/0 via-white/30 to-white/0 text-white/0 dark:via-white/10;
  }

  .side-text {
    @apply scale-flip [writing-mode:vertical-rl];
  }
}
