name: 'Sync dev branch'

on:
  workflow_call:
  workflow_dispatch:

jobs:
  merge-to-dev:
    runs-on: ubuntu-latest
    name: Sync dev branch
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: 18
      - name: Opening pull request
        id: pull
        uses: tretuna/sync-branches@main
        with:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          FROM_BRANCH: "main"
          TO_BRANCH: "dev"
          PULL_REQUEST_TITLE: "chore(git): merge `main` into `dev` [skip ci]"
          CONTENT_COMPARISON: true
          PULL_REQUEST_AUTO_MERGE_METHOD: "merge"
